<div class="content" role="main">
  <div class="door-container">
    <div *ngFor="let item of doors;">
      <app-door 
        [doorNumber]="item"
        [message]="getDoorMessage(item)"
        (choseDoor)="choseDoor($event)"
        [isOpen]="doorIsOpen(item)"
      >
  </app-door>
    </div>
  </div> 
  <ng-container [ngSwitch]="step">
    <div *ngSwitchCase="Step.PICK">Choose a door</div>
    <div *ngSwitchCase="Step.CONFIRM_PICK">
        You chose door {{this.chosenDoor}}. Is this correct?
        <button mat-button (click)="confirmPick()">Yes</button>  
        <button mat-button (click)="cancelPick()">No</button>  
    </div>
    <div *ngSwitchCase="Step.CONFIRM_SWAP">
        You chose door {{this.chosenDoor}}. Is this correct?
        <button mat-button (click)="confirmPick()">Yes</button>  
        <button mat-button (click)="cancelPick()">No</button>  
    </div>
    <div *ngSwitchCase="Step.SWAP">I will now remove all but 2 doors. The winning door remains among the 2. You have one final choice of swapping. Make your selection.</div>
    <div *ngSwitchCase="Step.END">Finish</div>
    <div *ngSwitchDefault>Lol</div>
  </ng-container>
</div>
<router-outlet></router-outlet>