@import '../styles'

.door-container
    display: flex
    justify-content: center
    gap: 8rem
    width: 100%
    padding-top: 3rem

.text
    width: 50%
    margin: auto
    margin-top: 5rem
    font-size: 2rem
    color: $text-color
    text-align: center

.margin-top
    margin-top: 1rem