<div class="content" role="main">
  <div class="door-container">
    <div *ngFor="let doorNumber of doors;">
      <app-door 
        [doorNumber]="doorNumber"
        [isWinningDoor]="doorNumber == this.answer"
        (choseDoor)="choseDoor($event)"
        [isOpen]="doorIsOpen(doorNumber)"
      >
  </app-door>
    </div>
  </div> 
  <div class="text" [ngSwitch]="step">
    <ng-container *ngSwitchCase="Step.PICK">Welcome to the Monty Hall Problem Game! You're about to play for a chance to win <del>a fantastic prize</del> absolutely nothing! Choose one of the three doors in front of you by clicking on it.</ng-container>
    <ng-container *ngSwitchCase="Step.CONFIRM_PICK">
      You chose door {{this.chosenDoor}}. Is this correct?
      <div class="margin-top">
        <button mat-button (click)="confirmPick()">Yes</button>  
        <button mat-button (click)="cancelPick()">No</button>  
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="Step.CONFIRM_SWAP">
      You chose door {{this.chosenDoor}}. Is this correct?
      <div class="margin-top">
        <button mat-button (click)="confirmPick()">Yes</button>  
        <button mat-button (click)="cancelPick()">No</button>  
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="Step.SWAP">Great choice! But wait, before we reveal if you've won the prize, let's have some fun. I'm going to eliminate one of the doors you didn't choose that doesn't have the prize behind it. Here's where it gets tricky. You can either stick with your original choice or switch to the other remaining door. What will you do?</ng-container>
    <ng-container *ngSwitchCase="Step.END">
      <div>{{ getFinalText() }}</div>
      <div class="margin-top">
        <button mat-button (click)="setupGame()">Play Again</button>  
      </div>
    </ng-container>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>